# custom things
presentations/*.html
*.gif
*.tex
__MACOSX/*
results/
data/*
!data/README
*.pdf
*.docx
# History files
.Rhistory
.Rapp.history
*_files/
*.rmarkdown
*_marlin_paper.html
# Session Data files
.RData
misc/
presentations/ovando_tunacamp2023_abstract.qmd
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
*.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
.Rproj.user
referee-replies.qmd -> marlin_paper_replies.qmd
marlin_paper_ff_reviews.qmd
marlin_paper_ff_reviews.html
marlin_paper_cover_letter_2.qmd
